
.header {
  width: 100%;
  height: 50px;
  text-align: right;
  display: table;
}

.inheader {
  display: table-cell;
  vertical-align: middle;
}

.inheader a {
    margin-right: 20px;
}

a {
  text-decoration: none;
  color: grey;
  font-size: 13px;
  font-family: sans-serif;
}

a:hover {
  text-decoration: underline;
  color: grey;
}

.content {
  text-align: center;
  height: 400px;
  width: 550px;
  margin: 150px auto 0px auto;
}

.google {
  height: 130px:auto;
  width: 270px;
}

.search {
  margin-top: 25px;
  width: 520px;
  height: 32px;
  font-size: 22px;
}

.buttonLine {
  padding: 20px;
}

.login {
  height: 30px;
  width: 70px;
  font-size: 13px;
  font-family: sans-serif;
  color: white;
  border: none;
  background-color: blue;
  border-radius: 3px;
  font-weight: bold;
  margin-right: 10px;
}

.gumb {
  height: 35px;
  width: 200px;
  font-size: 13px;
  font-family: sans-serif;
  background-color: #f2f2f2;
  color: grey;
  border: none;
  font-weight: bold;
  border-radius: 1px;
}

.gumb:hover {
  height: 35px;
  width: 200px;
  font-size: 13px;
  font-family: sans-serif;
  color: black;
  font-weight: bold;
  border-radius: 1px;
  border: 1px solid darkgrey;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;
  display: table;
  border: 1px solid #d9d9d9;
}

.infooter1 {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.infooter1 a {
  margin-left: 30px
}

.infooter2 {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.infooter2 a {
  margin-right: 30px;
}
